<mat-toolbar  color="primary">
  <mat-toolbar-row>
  <span>Angular PWA </span>
  <button mat-raised-button class="send-notfication-btn" (click)="sendNotificationToTheClient()">Send Notification</button>
  </mat-toolbar-row>
  </mat-toolbar>
  <main>
  <mat-card *ngFor="let item of items">
  <mat-card-header>
  <mat-card-title>{{item.title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
  {{item.body}}
  </mat-card-content>
  <mat-card-actions>
  <a  mat-raised-button  href=""  color="primary">More</a>
  </mat-card-actions>
  </mat-card>

  </main>
<!-- <div>
  Santhosh
</div> -->